sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) { .layer { font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	border-style: none;
	height: 70.08334em;
	width: 49.58333em;
	margin: 0em;
	line-height: 0.0em;
	font-size: 1em;
	display: block;
}
.stl_02 {
	position: relative;
}
.stl_03 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_04 {
	position: relative;
	width: 49.58333em;
}
.stl_05 {
	height: 7.008333em;
}
.ie .stl_05 {
	height: 70.08334em;
}
@font-face {
	font-family:"HANWLS+MicrosoftYaHei-Bold";
	src:url("0b491d28-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_06 {
	color: #262626;
	font-size: 1.25em;
	font-family: "HANWLS+MicrosoftYaHei-Bold";
}
.stl_07 {
	line-height: 1.319824em;
}
.stl_08 {
	letter-spacing: 0em;
}

.ie .stl_08 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"RFLRFF+MicrosoftYaHei-Bold";
	src:url("2c1c35b1-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_09 {
	color: #262626;
	font-size: 1em;
	font-family: "RFLRFF+MicrosoftYaHei-Bold";
}
.stl_10 {
	letter-spacing: -0.0005em;
}

.ie .stl_10 {
	letter-spacing: -0.0077px;
}
.stl_11 {
	color: #FFFFFF;
	font-size: 1.25em;
	font-family: "HANWLS+MicrosoftYaHei-Bold";
}
.stl_12 {
	color: #FFFFFF;
	font-size: 0.875em;
	font-family: "HANWLS+MicrosoftYaHei-Bold";
}
@font-face {
	font-family:"IANVEW+MicrosoftYaHei";
	src:url("2d43e64c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_13 {
	color: #000000;
	font-size: 0.875em;
	font-family: "IANVEW+MicrosoftYaHei";
}
@font-face {
	font-family:"BJGOGC+MicrosoftYaHei";
	src:url("c23376a4-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	color: #000000;
	font-size: 0.875em;
	font-family: "BJGOGC+MicrosoftYaHei";
}
@font-face {
	font-family:"FJDRVI+SimSun";
	src:url("b36a2329-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	color: #000000;
	font-size: 0.833333em;
	font-family: "FJDRVI+SimSun";
}
.stl_16 {
	line-height: 1em;
}
.stl_17 {
	color: #000000;
	font-size: 1em;
	font-family: "HANWLS+MicrosoftYaHei-Bold";
}
.stl_18 {
	letter-spacing: -0.0002em;
}

.ie .stl_18 {
	letter-spacing: -0.0025px;
}
.stl_19 {
	letter-spacing: -0.0004em;
}

.ie .stl_19 {
	letter-spacing: -0.005px;
}
.stl_20 {
	color: #FFFFFF;
	font-size: 0.833333em;
	font-family: "HANWLS+MicrosoftYaHei-Bold";
}
.stl_21 {
	color: #FFFFFF;
	font-size: 0.833333em;
	font-family: "RFLRFF+MicrosoftYaHei-Bold";
}
@font-face {
	font-family:"GUFTMR+TimesNewRomanPSMT";
	src:url("83df0cbf-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_22 {
	color: #000000;
	font-size: 1em;
	font-family: "GUFTMR+TimesNewRomanPSMT";
}
.stl_23 {
	line-height: 1.107422em;
}
.stl_24 {
	color: #000000;
	font-size: 1em;
	font-family: "RFLRFF+MicrosoftYaHei-Bold";
}
.stl_25 {
	letter-spacing: -0.0001em;
}

.ie .stl_25 {
	letter-spacing: -0.0018px;
}
.stl_26 {
	letter-spacing: -0.0006em;
}

.ie .stl_26 {
	letter-spacing: -0.0077px;
}
.stl_27 {
	letter-spacing: -0.0003em;
}

.ie .stl_27 {
	letter-spacing: -0.0043px;
}
.stl_28 {
	color: #FFFFFF;
	font-size: 1.25em;
	font-family: "RFLRFF+MicrosoftYaHei-Bold";
}
.stl_29 {
	color: #0000FF;
	font-size: 1em;
	font-family: "HANWLS+MicrosoftYaHei-Bold";
}
.stl_30 {
	color: #FFFFFF;
	font-size: 1em;
	font-family: "IANVEW+MicrosoftYaHei";
}
